html {
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: fit-content;
}

.goods {
  height: fit-content;
}

select.series-select-box  {
  appearance: none;
  -webkit-appearance: none;
  height: 2.8em;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

.member {
  margin-bottom: 5px;
}

.member-select {
  margin-left: 10px;
  margin-bottom: 3px;
}

.status {
  margin-bottom: 5px;
}

.status-select-wrapper {
  display: flex;
  margin-bottom: 25px;
}

.status-select {
  margin-left: 10px;
}

.completed {
  color: rgb(161, 159, 159);
}

.negotiating {
  color: rgb(247, 141, 159);
}

.unexchanged {
  color: rgb(10, 49, 204);
}

.series-member-container {
  border: 1px solid rgb(206, 206, 206);
  border-radius: 10px;
  padding: 20px;
}

.member-name {
  margin: 0 0 5px 0;
}

.series-tag {
  border: 1px solid rgb(230, 227, 227);
  border-radius: 20px;
  font-size: 14px;
  color: gray;
  padding: 2px 5px;
}

.item-container {
  display: flex;
  margin-top: 10px;
}

.item {
  border: 1px solid black;
  border-radius: 5px;
  width: 80px;
  height: 80px;
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  align-items: center;
}

.item > .unexchanged {
  grid-column: 1/3;
  grid-row: 2;
}